:host {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.title {
    text-transform: uppercase;
    text-align: center;
    position: fixed;
    width: 100%;
    letter-spacing: 0.3em;
    text-indent: 0.3em;
    margin: 0.5em auto;
}

.decorative-bumper {
    height: 12px;
    width: 100%;
}

.title, .decorative-bumper {
    position: relative;
}