<div class="decorative-bumper top"></div>
<p class="footer-content desktop">
    &copy; 2017 
    <a href="https://emilyanndavis.github.io">Emily Davis</a>
    <i class="spacer-icon fa" [ngClass]="spacerIcon"></i>
    Built to meet the requirements of the FreeCodeCamp challenge
    <a href="https://www.freecodecamp.org/challenges/build-a-wikipedia-viewer" target="_blank">"Build a Wikipedia Viewer"</a>
</p>
<p class="footer-content mobile">
    &copy; 2017 <a href="https://emilyanndavis.github.io">Emily Davis</a>
    <span class="mobile-extras">
        <i class="spacer-icon fa" [ngClass]="spacerIcon"></i>
        Made with 
    </span> 
    <i class="fa fa-heart"></i> + <i 
    class="fa fa-wikipedia-w"></i> + <a 
    class="free-code-camp-link"
        href="https://www.freecodecamp.org/challenges/build-a-wikipedia-viewer" 
        target="_blank"
    ><i class="fa fa-free-code-camp"></i></a> 
</p>
<div class="decorative-bumper bottom"></div>