<button #randomButton type="button" class="random-btn" (click)="getRandomArticle()">
    <span>
        <span class="question-mark" aria-hidden="true">?</span>
        <span class="question-mark" aria-hidden="true">?</span>
        <span class="question-mark" aria-hidden="true">?</span>
    </span>
    <span class="button-text">Random Article</span>
    <span>
        <span class="question-mark" aria-hidden="true">?</span>
        <span class="question-mark" aria-hidden="true">?</span>
        <span class="question-mark" aria-hidden="true">?</span>
    </span>
</button>

<form [formGroup]="searchForm" (ngSubmit)="search()">
    <label for="searchTerm" class="sr-only"></label>
    <input #searchInput type="text" formControlName="searchTerm" id="searchTerm" placeholder="Search for something..." (keyup.Enter)="search()" />
    <button #searchButton class="search-btn" aria-label="search"><i class="fa fa-search" aria-hidden="true"></i></button>
</form>
